
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#map {
    background-color: #FAFFF2;
    position: relative;
}

.map_controls {
    margin: 1em;
    z-index: 10;
    position: absolute;
}

.map_filters button {
    display: block;
}

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    min-height: 400px;
}

html, body {
    margin: 0;
    font-family: "Roboto", Helvetica, sans-serif;
}
fieldset {
    margin-bottom: 1em;
    border: none;
}
fieldset.required {
    /* background-color: honeydew; */
}
legend {
    font-weight: bold;
}
textarea {
    width: 100%;
}
select {
    width: 100%;
}

h1 {
    font-family: "Goudy Bookletter 1911", Georgia, serif;
}

h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
}

.special_message {
    color: #FF7600;
}

.vertically-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-btn {
    padding: 1em 2em;
    margin-top: 1em;
    width: 75%;
    color: #fff;
    background: #555;
    border: none;
    text-align: center;

}

.form_body {
    background-color: #FAFFF2;
}

form {
    margin: 1em;
}

.creature_set {
    overflow-x: auto;
    margin: 0;
    padding: 0 0 .5em 0;
    list-style-type: none;
    min-width: 100%;
    min-height: 80px;
    display: flex;
}

.creature_set::-webkit-scrollbar {
    /* display: none; */
}

.creature_set li {
    float: left;
    background-color: #909090;
    min-width: 80px;
    margin: 5px;
}

.creature_set li span {
}

.title_container {
    overflow: hidden;
    height: 80px;
    width: 100%;
    background-color: #A19951;
    text-align: right;
}

.title_container h1 {
    font-size: 70px;
    margin: 0;
    margin-top: 13px;
    color: #F0E3CE;
    font-weight: inherit;
}

/*

.title_container_bottom {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    padding-bottom: 200px;
    padding-left: .75em;
    height: 100px;
    width: 100%;
    background-color: #A19951;
    text-align: right;
}

.title_container_bottom h1 {
    font-size: 700%;
    color: #F0E3CE;
    font-weight: inherit;
    position: relative;
    top: 0;
}

*/


#myDiv {
    display: none;
}

#loader_container {
    height: 100%;
    width: 100vw;
    position: fixed;
    background: url("../../images/fauna.jpg") no-repeat fixed;
    background-size: cover;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #FAFFF2;
    border-radius: 50%;
    border-top: 16px solid #CBE69E;
    width: 130px;
    height: 130px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}


