
body {
    font-family: "Roboto", Helvetica, sans-serif;
    background-color: #D3B99F;
    color: #210203;
}

.title_container {
    overflow: hidden;
    height: 80px;
    text-align: right;
}

.title_container h1 {
    font-size: 70px;
    margin: 13px 0 0 0;
    color: #6D98BA;
    font-weight: inherit;
}

.title_container h3 {
    margin: 0;
    position: absolute;
    top: 10px;
    text-align: left;
    padding: 1em;
}

nav {
    padding: 1em;
    background-color: #E7D8CA;
}

nav span {
    font-size: 80%;
}

nav a, .title_container h3 a {
    color: mediumturquoise;
}

nav a:hover, .title_container h3 a:hover {
    color: darkturquoise;
}


.report-btn {
    background-color: paleturquoise;
    color: #210203;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 2em 0;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

.report-btn:hover {
    background-color: mediumturquoise;
    color: #210203;
}

@media(max-width: 500px) {
    .report-btn {
        width: 100%;
    }
    .title_container h3 {
        padding: 0 1em;
        font-size: 13px;
    }
}

h1 {
    font-family: "Goudy Bookletter 1911", Georgia, serif;
}

h2, h3, h4, h5, h6, p {
    font-family: Helvetica, sans-serif;
}

.special_message {
    color: #FF7600;
}

fieldset {
    margin-bottom: 1em;
    border: none;
}
fieldset.required {
    /* background-color: honeydew; */
}
legend {
    font-weight: bold;
}
textarea {
    width: 100%;
}
select {
    width: 100%;
}

.creature_set {
    overflow-x: auto;
    margin: 0;
    padding: 0 0 .5em 0;
    list-style-type: none;
    min-width: 100%;
    min-height: 80px;
    display: flex;
}

.creature_set li {
    float: left;
    background-color: #909090;
    min-width: 80px;
    margin: 5px;
}





